﻿@model encantodedoce.Models.tipoProduto

@{
    ViewBag.Title = "Adicionar Tipos de Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Adicionar Tipo de Produto</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="nrCliente">Tipo do produto:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nmTipoProduto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nmTipoProduto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Voltar para Lista", "Index", "TipoProduto", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}

