﻿@model encantodedoce.Models.tipoProduto

@{
    ViewBag.Title = "Excluir Tipo de Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Excluir Tipo de Produto</h3>

<div class="alert alert-warning" role="alert">
    <h5>Tem certeza que deseja excluir este registro?</h5>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Produto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmTipoProduto)
        </dd>

        <dt>
            Data de Inclusão:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInclusao)
        </dd>

        <dt>
            Data de Alteração:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAlteracao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            @Html.ActionLink("Voltar para Lista", "Index", "tipoProduto", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
