﻿@model encantodedoce.Models.tipoProduto

@{
    ViewBag.Title = "Detalhes Tipo de Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalhes Tipo de Produto</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de Produto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmTipoProduto)
        </dd>

        <dt>
            Data de Inclusão:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInclusao)
        </dd>

        <dt>
            Data de Alteração:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAlteracao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "edit", "tipoProduto", new { id = Model.idTipoProduto }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar para Lista", "Index", "tipoProduto", null, new { @class = "btn btn-secondary" })
</p>

