﻿@model encantodedoce.Models.tipoProduto

@{
    ViewBag.Title = "Editar Tipo de Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Editar Tipo de Produto</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idTipoProduto)
        @Html.HiddenFor(model => model.dtInclusao)

        <div class="form-group">
            <label class="control-label col-md-2" for="nmCliente">Tipo de produto:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nmTipoProduto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nmTipoProduto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Voltar para Lista", "Index", "tipoProduto", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}

