﻿@model encantodedoce.Models.cliente

@{
    ViewBag.Title = "Adicionar Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Adicionar Cliente</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="nmCliente">Nome:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nmCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nmCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nrCliente">Telefone:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nrTelefone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nrTelefone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="dsEndereco">Endereço:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dsEndereco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dsEndereco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="dsEmail">E-mail:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dsEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dsEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Voltar para Lista", "Index", "Cliente", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">

        jQuery(function ($) {
            $("#nrTelefone").mask("(99) 9999-9999?9");
            $("#nrTelefone").blur(function (event) {
                if ($(this).val().length == 15) {
                    $('#nrTelefone').mask('(99) 99999-999?9');
                } else {
                    $('#nrTelefone').mask('(99) 9999-9999?9');
                }
            });
        });

    </script>

}
