﻿@model encantodedoce.Models.cliente

@{
    ViewBag.Title = "Excluir Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Excluir Cliente</h3>

<div class="alert alert-warning" role="alert">
    <h5>Tem certeza que deseja excluir este registro?</h5>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmCliente)
        </dd>

        <dt>
            Telefone:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nrTelefone)
        </dd>

        <dt>
            Endereço:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsEndereco)
        </dd>

        <dt>
            E-mail:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsEmail)
        </dd>

        <dt>
            Data da Inclusão:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInclusao)
        </dd>

        <dt>
            Data da Alteração:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAlteracao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            @Html.ActionLink("Voltar para Lista", "Index", "Cliente", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
