﻿@model encantodedoce.Models.cliente

@{
    ViewBag.Title = "Detalhes do Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalhes do Cliente</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmCliente)
        </dd>

        <dt>
            Telefone:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nrTelefone)
        </dd>

        <dt>
            Endereço:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsEndereco)
        </dd>

        <dt>
            E-mail:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsEmail)
        </dd>

        <dt>
            Data de Inclusão:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInclusao)
        </dd>
        <dt>
            Data de Alteração:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAlteracao)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "edit", "Cliente", new { id = Model.idCliente }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar para Lista", "Index", "Cliente", null, new { @class = "btn btn-secondary" })
</p>
