﻿@model encantodedoce.Models.cliente

@{
    ViewBag.Title = "Editar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Editar Cliente</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idCliente)
        @Html.HiddenFor(model => model.dtInclusao)

        <div class="form-group">
            <label class="control-label col-md-2" for="nmCliente">Nome:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nmCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nmCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nmCliente">Telefone:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nrTelefone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nrTelefone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nmCliente">Endereço:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dsEndereco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dsEndereco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nmCliente">E-mail:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dsEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dsEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-primary" />
                @Html.ActionLink("Voltar para Lista", "Index", "Cliente", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}