﻿@model PagedList.IPagedList<encantodedoce.Models.cliente>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista de Clientes</h3>
<hr />

<div class="card-body">
    <form>
        <div class="form-group">
            <div class="form-row">
                @using (Html.BeginForm("Index", "cliente", FormMethod.Get))
                {
                    <div class="col-md-4">
                        <div class="input-group">
                            @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                }
                <div class="col-md-1 margin-1px">
                    @Html.ActionLink("Novo", "Create", "Cliente", null, new { @class = "btn btn-primary btn-block" })
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered" id="" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.nmCliente, currentFilter = ViewBag.CurrentFilter })</th>
                    <th>Telefone</th>
                    <th>@Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.dsEmail, currentFilter = ViewBag.CurrentFilter })</th>
                    <th>Endereço</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:20%">@Html.DisplayFor(modelItem => item.nmCliente)</td>
                        <td style="width:10%">@Html.DisplayFor(modelItem => item.nrTelefone)</td>
                        <td style="width:20%">@Html.DisplayFor(modelItem => item.dsEmail)</td>
                        <td>@Html.DisplayFor(modelItem => item.dsEndereco)</td>
                        <td style="width:18%">
                            <div class="form-row">
                                <div class="margin-1px">
                                    @Html.ActionLink("Editar", "Edit", "Cliente", new { id = item.idCliente }, new { @class = "btn btn-primary" })
                                </div>
                                <div class="margin-1px">
                                    @Html.ActionLink("Detalhe", "Details", "Cliente", new { id = item.idCliente }, new { @class = "btn btn-primary" })
                                </div>
                                <div class="margin-1px">
                                    @Html.ActionLink("Excluir", "Delete", "Cliente", new { id = item.idCliente }, new { @class = "btn btn-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                     new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

