﻿@model encantodedoce.Models.produto

@{
    ViewBag.Title = "Adicionar Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Adicionar Produto</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="idTipoProduto">Tipo do Produto:</label>
            <div class="col-md-10">
                @Html.DropDownList("idTipoProduto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipoProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="nmProduto">Nome:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nmProduto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nmProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="precoProduto">Preço (R$):</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.precoProduto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.precoProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="pesoProduto">Peso (g):</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.pesoProduto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pesoProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="dsProduto">Descrição:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dsProduto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dsProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Voltar para Lista", "Index", "Produto", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
}

