﻿@model encantodedoce.Models.produto

@{
    ViewBag.Title = "Excluir Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Excluir Produto</h3>

<div class="alert alert-warning" role="alert">
    <h5>Tem certeza que deseja excluir este registro?</h5>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo do Produto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoProduto.nmTipoProduto)
        </dd>

        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmProduto)
        </dd>

        <dt>
            Preço (R$):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoProduto)
        </dd>

        <dt>
            Peso (g):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pesoProduto)
        </dd>

        <dt>
            Descrição:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsProduto)
        </dd>

        <dt>
            Data de Inclusão:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInclusao)
        </dd>

        <dt>
            Data de Alteração:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAlteracao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            @Html.ActionLink("Voltar para Lista", "Index", "Produto", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
