﻿@model encantodedoce.Models.produto

@{
    ViewBag.Title = "Detalhes do Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalhes do Produto</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo do Produto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoProduto.nmTipoProduto)
        </dd>

        <dt>
            Nome:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmProduto)
        </dd>

        <dt>
            Preço (R$):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precoProduto)
        </dd>

        <dt>
            Peso (g):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pesoProduto)
        </dd>

        <dt>
            Descrição:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsProduto)
        </dd>

        <dt>
            Data de Inclusão:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInclusao)
        </dd>

        <dt>
            Data de Alteração:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAlteracao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "edit", "Produto", new { id = Model.idProduto }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar para Lista", "Index", "Produto", null, new { @class = "btn btn-secondary" })
</p>

