﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Encanto de Doce</title>
    <!-- Bootstrap core CSS-->
    @Styles.Render("~/Scripts/vendor/bootstrap/css/bootstrap.min.css")
    <!-- Custom fonts for this template-->
    @Styles.Render("~/Scripts/vendor/font-awesome/css/font-awesome.min.css")
    <!-- Page level plugin CSS-->
    @Styles.Render("~/Scripts/vendor/datatables/dataTables.bootstrap4.css")
    <!-- Custom styles for this template-->
    @Styles.Render("~/Scripts/css/sb-admin.css")
    <!-- Custom styles for this pagination-->
    @Styles.Render("~/Scripts/css/PagedList.css")


</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="index.html">Encanto de Doce</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="index.html">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponentsPedidos" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Pedidos</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponentsPedidos">
                        <li>
                            @Html.ActionLink("Pesquisar", "Index", "Pedido")
                        </li>
                        <li>
                            @Html.ActionLink("Incluir", "Create", "Pedido")
                        </li>
                    </ul>
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponentsClientes" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Clientes</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponentsClientes">
                        <li>
                            @Html.ActionLink("Pesquisar", "Index", "Cliente")
                        </li>
                        <li>
                            @Html.ActionLink("Incluir", "Create", "Cliente")
                        </li>
                    </ul>
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponentsProdutos" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-shopping-bag"></i>
                        <span class="nav-link-text">Produtos</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponentsProdutos">
                        <li>
                            @Html.ActionLink("Pesquisar", "Index", "Produto")
                        </li>
                        <li>
                            @Html.ActionLink("Incluir", "Create", "Produto")
                        </li>
                    </ul>
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponentsTipoProdutos" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-list"></i>
                        <span class="nav-link-text">Tipos de Produto</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponentsTipoProdutos">
                        <li>
                            @Html.ActionLink("Pesquisar", "Index", "TipoProduto")
                        </li>
                        <li>
                            @Html.ActionLink("Incluir", "Create", "TipoProduto")
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Procurar um Pedido...">
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">

            <!-- Contents -->
            @RenderBody()

        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Encanto de Doce 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    @Scripts.Render("~/Scripts/vendor/jquery/jquery.min.js")
    @Scripts.Render("~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js")
    <!-- Core plugin JavaScript-->
    @Scripts.Render("~/Scripts/vendor/jquery-easing/jquery.easing.min.js")
    <!-- Page level plugin JavaScript-->
    @Scripts.Render("~/Scripts/vendor/chart.js/Chart.min.js")
    @Scripts.Render("~/Scripts/vendor/datatables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/vendor/datatables/dataTables.bootstrap4.js")
    <!-- Custom scripts for all pages-->
    @Scripts.Render("~/Scripts/js/sb-admin.min.js")
    <!-- Custom scripts for this page-->
    @Scripts.Render("~/Scripts/js/sb-admin-datatables.min.js")
    @Scripts.Render("~/Scripts/js/sb-admin-charts.min.js")
    <!-- scripts for mask input-->
    @Scripts.Render("~/Scripts/vendor/mask/jquery.maskedinput.min.js")

    @RenderSection("scripts", false)
</body>
</html>

