﻿@model encantodedoce.Models.pedido

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Adicionar Pedido</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2" for="idCliente">Cliente:</label>
        <div class="col-md-10">
            @Html.DropDownList("idCliente", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="dsPedido">Descrição do Pedido:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsPedido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsPedido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="bolPago">Foi pago?</label>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.bolPago)
                @Html.ValidationMessageFor(model => model.bolPago, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="idProduto">Selecione os Produtos:</label>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.DropDownList("idProduto", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="bolPago">Quantidade:</label>
        <div class="col-md-2">
            <div class="checkbox">
                <input type="text" class="form-control" id="qnt">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome Produto</th>
                            <th>Qnt</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:20%">Nome Produto</td>
                            <td style="width:10%">Qnt</td>
                            <td style="width:5%">
                                <div class="form-row">
                                    <div class="margin-1px">
                                        <input type="submit" value="Remover" class="btn btn-danger" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Voltar para Lista", "Index", "TipoProduto", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
}
