﻿@model encantodedoce.Models.pedido

@{
    ViewBag.Title = "Excluir Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Excluir Pedido</h3>

<div class="alert alert-warning" role="alert">
    <h5>Tem certeza que deseja excluir este registro?</h5>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do Cliente:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nmCliente)
        </dd>

        <dt>
            Valor Total:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorTotal)
        </dd>

        <dt>
            Descrição Do Pedido:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsPedido)
        </dd>

        <dt>
            Foi pago?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bolPago)
        </dd>

        <dt>
            Data de Inclusão:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInclusao)
        </dd>

        <dt>
            Data de Alteração:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAlteracao)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            @Html.ActionLink("Voltar para Lista", "Index", "Pedido", null, new { @class = "btn btn-secondary" })
        </div>
    }   
</div>
