﻿@model encantodedoce.Models.pedido

@{
    ViewBag.Title = "Detalhes do Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Detalhes do Pedido</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do Cliente:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nmCliente)
        </dd>

        <dt>
            Valor Total:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorTotal)
        </dd>

        <dt>
            Descrição Do Pedido:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dsPedido)
        </dd>

        <dt>
            Foi pago?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bolPago)
        </dd>

        <dt>
            Data de Inclusão:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtInclusao)
        </dd>

        <dt>
            Data de Alteração:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAlteracao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "edit", "Pedido", new { id = Model.idPedido }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar para Lista", "Index", "Pedido", null, new { @class = "btn btn-secondary" })
</p>
