﻿@model encantodedoce.Models.pedido

@{
    ViewBag.Title = "Editar Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Editar Pedido</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idPedido)
    @Html.HiddenFor(model => model.dtInclusao)

    <div class="form-group">
        <label class="control-label col-md-2" for="idCliente">Cliente:</label>
        <div class="col-md-10">
            @Html.DropDownList("idCliente", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.idCliente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="valorTotal">Valor Total:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.valorTotal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.valorTotal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="dsPedido">Descrição do Pedido:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.dsPedido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dsPedido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="bolPago">Foi pago?</label>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.bolPago)
                @Html.ValidationMessageFor(model => model.bolPago, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-primary" />
            @Html.ActionLink("Voltar para Lista", "Index", "Pedido", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
}