﻿@model PagedList.IPagedList<encantodedoce.Models.pedido>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Lista de Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lista de Pedidos</h3>

<div class="card-body">
    <form>
        <div class="form-group">
            <div class="form-row">
                @using (Html.BeginForm("Index", "Pedido", FormMethod.Get))
                {
                    <div class="col-md-4">
                        <div class="input-group">
                            @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                }
                <div class="col-md-1 margin-1px">
                    @Html.ActionLink("Novo", "Create", "Pedido", null, new { @class = "btn btn-primary btn-block" })
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-bordered" id="" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Cliente", "Index", new { sortOrder = ViewBag.nmCliente, currentFilter = ViewBag.CurrentFilter })</th>
                    <th>Valor Total</th>
                    <th>Desc. Pedido</th>
                    <th>Pago</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td style="width:20%">@Html.DisplayFor(modelItem => item.cliente.nmCliente)</td>
                    <td style="width:10%">@Html.DisplayFor(modelItem => item.valorTotal)</td>
                    <td>@Html.DisplayFor(modelItem => item.dsPedido)</td>
                    <td style="width:10%">@Html.DisplayFor(modelItem => item.bolPago)</td>
                    <td style="width:18%">
                        <div class="form-row">
                            <div class="margin-1px">
                                @Html.ActionLink("Editar", "Edit", "Pedido", new { id = item.idPedido }, new { @class = "btn btn-primary" })
                            </div>
                            <div class="margin-1px">
                                @Html.ActionLink("Detalhe", "Details", "Pedido", new { id = item.idPedido }, new { @class = "btn btn-primary" })
                            </div>
                            <div class="margin-1px">
                                @Html.ActionLink("Excluir", "Delete", "Pedido", new { id = item.idPedido }, new { @class = "btn btn-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                                         new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>
